.App {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App-header h1 {
  margin-top: 2rem;
  font-size: 8vw; /* Responsive font size */
  font-weight: bold;
  color: #19b719;
}

#tmp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

#App-img img {
  max-width: 70%;
  height: auto;
  margin-bottom: 2rem;
}

#App-data {
  width: 100%;
  max-width: 1200px; /* Adjust the max-width for larger screens */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

#App-data a.log {
  font-size: 2rem;
  width: 150px;
}

#App-data a.reg {
  font-size: 2rem;
  width: 150px;
}

.card_button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px; /* Adjust the max-width for larger screens */
  height: 50px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border: 1px solid #118011;
  border-radius: 5px;
  box-shadow: 0 3px 0 #118011;
  cursor: pointer;
  transition: 0.2s;
}

.card_button a.log {
  background-color: #19b719;
  border: 1px solid #118011;
  box-shadow: 0 3px 0 #118011;
  transition: 0.2s;
}

.card_button a.log:hover {
  background-color: #2bcd2b;
}

.card_button a.log:active {
  box-shadow: 0 1px 0 black;
  transform: translateY(2px);
}

.card_button a.reg {
  background-color: #ff0000;
  border: 1px solid #b30000;
  box-shadow: 0 3px 0 #b30000;
  transition: 0.2s;
}

.card_button a.reg:hover {
  background-color: #ff4d4d;
}

.card_button a.reg:active {
  box-shadow: 0 1px 0 black;
  transform: translateY(2px);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  color: #19b719;
}

footer a:hover {
  font-weight: bold;
}

footer a {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-decoration: none;
}