# Local
DB_URL=jdbc:mysql://localhost:3306/snake_game_app
DB_USERNAME=
DB_PASSWORD=

# MySQL Docker
DB_URL_DOCKER=jdbc:mysql://localhost:3307/snake_game_app
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Send mail
# Ensure enable 2-step verification
# https://myaccount.google.com/apppasswords
MAIL_HOST=
MAIL_PASS=