#ForgotPassword {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  background: #19b719;
}

.wrapper {
  margin: 20px 0;
}

.container .content {
  display: block !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  clear: both !important;
  background: white;
}

.brand {
  margin: 5px 0 0;
  font-size: 30px;
  margin: 20px 0;
}

.brand span {
  color: #19b719;
}

.border {
  border-top: 2px solid #19b719;
  border-bottom: 2px solid #19b719;
}

.border h1 {
  font-size: 24px;
  color: #19b719;
  margin: 30px 0;
}

.contact {
  font-size: 11px;
  color: #999;
}

.contact td {
  text-align: center;
}
