* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  font-size: 1.6rem;
}
.google-button {
  margin-bottom: 20px;
}
.google-btn {
  /* border: 3px solid purple; */
  margin: 0 auto;
  /* margin-bottom: 20px; */
  width: 250px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
}

.google-btn .google-icon-wrapper {
  /* border: 3px solid purple; */
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
  width: 35px;
  height: 34px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
}

.google-btn .google-icon {
  /* border: 3px solid purple; */

  position: relative;
  margin-top: 9px;
  margin-left: 1px;
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  width: fit-content;
  margin: 11px 11px 11px 70px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
  cursor: pointer;
}

.google-btn:active {
  background: #1669f2;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
