<!DOCTYPE html>
<html lang="en">
<head>
  <title>Forgot Password - Java Snake Game</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<table id="Forgot-Password-Page">
  <tr>
    <td class="container">
      <div class="content">
        <table>
          <tr>
            <td>
              <p class="brand"><span style="color:#19b719;">Java Snake Game</span> Corporation</p>
            </td>
          </tr>
          <tr>
            <td class="border" id="border-success">
              <h1 class="title" id="title-success">Forgot Password</h1>
              <p>Dear User,</p>
              <p>We received a request to reset the password for your account associated with the email: <strong th:text="${email}"></strong></p>
              <p>Your OTP for password reset is: <strong style="color:#19b719;" th:text="${otp}"></strong></p>
              <p>Please use this OTP to reset your password.</p>
              <p>If you did not request a password reset, please ignore this email or contact our support team at support@example.com.</p>
              <p>Best regards,</p>
              <p>The Java Snake Game Team</p>
            </td>
          </tr>
          <tr>
            <td>
              Java Snake Game Corporation - 0123 456 789 - support@example.com
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
