/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* reset css */

/* processing */
/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-header h1 {
  margin-top: 2rem;
  font-size: 8vw; /* Responsive font size */
  font-weight: bold;
  color: #19b719;
}

#tmp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

#App-img img {
  max-width: 70%;
  height: auto;
  margin-bottom: 2rem;
}

#App-data {
  width: 100%;
  max-width: 1200px; /* Adjust the max-width for larger screens */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

#App-data a.log {
  width: 100px;
}

#App-data a.reg {
  width: 100px;
}

.card_button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px; /* Adjust the max-width for larger screens */
  height: 50px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border: 1px solid #118011;
  border-radius: 5px;
  box-shadow: 0 3px 0 #118011;
  cursor: pointer;
  transition: 0.2s;
}

.card_button a.log {
  background-color: #19b719;
  border: 1px solid #118011;
  box-shadow: 0 3px 0 #118011;
  transition: 0.2s;
}

.card_button a.log:hover {
  background-color: #2bcd2b;
}

.card_button a.log:active {
  box-shadow: 0 1px 0 black;
  transform: translateY(2px);
}

.card_button a.reg {
  background-color: #ff0000;
  border: 1px solid #b30000;
  box-shadow: 0 3px 0 #b30000;
  transition: 0.2s;
}

.card_button a.reg:hover {
  background-color: #ff4d4d;
}

.card_button a.reg:active {
  box-shadow: 0 1px 0 black;
  transform: translateY(2px);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  color: #19b719;
}

footer a {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  font-weight: bold;
}

/* Media Query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 768px) {
  .App-header h1 {
    font-size: 8vw;
  }

  .card_button a {
    width: 100%;
  }
}

/* Media Query for screens wider than 1200px (typical full HD monitors) */
@media (min-width: 1201px) {
  .App-header h1 {
    font-size: 3rem; /* Adjust the font size for larger screens */
  }

  #tmp {
    padding: 2rem;
  }

  #App-data {
    width: 50%; /* Adjust the width of App-data for larger screens */
  }

  #App-img img {
    margin-top: 2rem;
    width: 30%;
    height: auto;
  }

  .card_button a {
    width: 250px; /* Adjust the width of buttons for larger screens */
  }

  footer a {
    margin-bottom: 1rem;
  }
}
